
text{
    font-family: Arial, sans-serif;
    fill: #828282;
}

path.domain{
    fill:none;

}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow:hidden;
}

div{

}

.svg-container {
    display: inline-block;
    position: relative;
    #width: 100%;
    #padding-bottom: 50%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

img.center{
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

#brain_img{
    height: 20%;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: #76797A;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
}

input[type=radio]:checked + label{
    border-bottom:solid 3px #478fa7;
}

label + input[type=radio] + label {
}

#radio_buttons{
    display: inline-block;

}
#radio_form{
    text-align: center;
    width: 100%;
    height: 10%;

}

#map{
    height: 60%;
}

#download_button{
    height: 10%;
}

#charts{
    float:left;
    #background-color: blue;
    height: 100%;
    width: 50%;
}

#select_area{
    #background-color: yellow;
    height: 100%;
    width: 30%;
    float: left;
}

#gender{
    #background-color: white;
    height: 50%;
    width: 100%;

}

#ages{
    #background-color: darkorange;
    height: 50%;
    width: 100%;
}

#map_select_area{
    float:left;
    #background-color: red;
    height: 100%;
    width: 20%;
    pdding: 3px;
}

#modality{
    float:left;
    #background-color: brown;
        height: 50%;
    width: 60%;
}

svg{
    display: block;
}


g.deselected path{
    fill: gray;
    fill-opacity: 0.5;
}

g.deselected rect{
    fill: gray;
    fill-opacity: 0.5;
}

g.hoverable path:hover {
    fill-opacity: 0.7;
}

g.hoverable rect:hover {
    fill-opacity: 0.7;
}

.cerchart{
    #background-color: blue;
    height: 29%;
    width: 100%;
}

.cerchart_title{
    #background-color: blue;
    height: 2%;
    width: 100%;
    text-align:center;
}

.cerchart_title span{
    display:block;
    margin:auto;
    margin-bottom: 0;
    padding-top: 2%;
}

#volchart_1{
    #background-color: blue;
    height: 18%;
    width: 100%;
}

#volchart_2{
    #background-color: blue;
    height: 19%;
    width: 100%;
}

#volchart_3{
    #background-color: blue;
    height: 30%;
    width: 100%;
}

.volseparator{
    height: 7%;
    width: 100%;
}

.footer{
    text-align:center;
    font-size: 9px;
}
